html {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	color: #232222;
	background-color: #fef4e7;
}

#logo {
	height: 70px;
	margin-left: 0.5em;
	margin-right: 1em;
	float: left;
}

#header {
	background-color: #fde9cf;
	margin: 0px;
	display: flex;
	border-bottom: solid 2px #e3d1ba;
}

#header a {
	margin: 25px 0.7em;
	font-size: 1.5em;
	font-weight: bold;
	color: #232222;
}

#header a:hover {
	color: #cf6900;
	text-decoration: none;
}

a {
	color: #cf6900;
	text-decoration: none;
}

a:hover {
	color: #dd964c;
	text-decoration: underline;
}

#main {
	margin: 2%;
}

#main > img {
	width: 60%;
}
